@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Poppins:wght@200&display=swap');
:root{
    --primary: white;
    --secondary: black;
    --bg : url("img/dbg.jpg");
    --con: rgb(243, 21, 21);
    --lbg: url("img/lbg.jpg");
    --icons: white;
    --i-hover: red;
    --border: 4px solid red;
    --btn-color: red;
    --menu: white;
}

*{
    padding: 0;
    margin: 0;    
}

body{
    min-height: 110vh;
    background: var(--bg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;  
}

.dmode{
    --primary: black;
    --secondary: #fff;
    --bg: url("img/lbg.jpg");
    --icons: #c4c4c4;
    --i-hover: #4facfe;
    --menu:#4facfe;
    --con: linear-gradient(to top, #00f2fe, #4facfe);
    --border: 4px solid #00f2fe;
    --btn-color: linear-gradient(to right, #4facfe 0%, #00f2fe 140%);
}

.main{
    align-items: center;
    justify-content: center;
}
.container{
    background-color: var(--secondary);
    width: 390px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.top{
    width: 390px;
    height: 270px;
    background: var(--con);
    clip-path: circle(400px at 50% -48.5%);
    border-radius: 5px;
}
.k-wrap{
    position: relative;
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
}

.menu{
    left: 20px;
    top: 20px;
    width:40px;
    height:30px;
    position: relative;
    cursor: pointer;
    background: transparent;
}

.menu > div{
    position: absolute;
    height:3px;
    background: var(--secondary);
    border-radius: 5px;
    transition: width 0.1s ease;
}

.menu-li{
    display: none;
    position: absolute;
    background-color: var(--secondary);
    min-width: 120px;
    margin-top: 10px;
    margin-left: 20px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.menu-li a{
    color: var(--menu);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Hind Madurai', sans-serif;;
}

.show {display: block;}
.a{
    width: 23px;
}
.b{
    width: 16px;
    top: 8px;
}
.c{
    width: 23px;
    top: 16px;
}

.menu:hover div{
    width: 25px;
    transition: width 0.5s ease;
}
.email{
    position: absolute;
    font-size: 23px;
    top: 22px;
    right: 20px;
}
.email i{
    color: var(--secondary);
}

.logo{
    position: absolute;
    width: 110px;
    height: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -160%);
    border-radius: 50%;
    border: var(--border);
}

.logo img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.name{
    font-family: 'Hind Madurai', sans-serif;;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, -150%);
}

.bottom{
    padding: 20px;
}
.details{
    display: block;
    font-family: 'Hind Madurai', sans-serif;;
    width: 50px;
    height: 50px;
    color: var(--primary);
    margin-left: 15px;
}

hr{
    width: 35px;
    border: 2px solid var(--primary);
    border-radius: 2px;
}

.info {
    font-size: 15px;
    font-family: 'Hind Madurai', sans-serif;;
}
.social {
    margin-left: 15px;
    margin-top: 50px;
    font-size: x-large;
    text-decoration: none;   
}

.social a i{
    color: var(--icons);
    margin-right: 10px;
}
.social a i:hover{
    color: var(--i-hover);
}

.btns{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    width: 185px;
    height: 50px;
}

.btn1{
    display: flex;
    height: 35px;
    width: 90px;
    background: var(--btn-color);
    border-radius: 20px;
    text-align: center;
    border: none;
    margin-right: 5px;
}


.follow, .more{
    font-size: smaller;
    text-decoration: none;
    margin: auto;
    font-family: 'Hind Madurai', sans-serif;;
}
.follow{
    color: var(--secondary);
}
.btn1:hover{
    width: 120px;
}
.btn2{
    display: flex;
    height: 33px;
    width: 90px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid var(--i-hover);
    text-align: center;
    right:0;
    top: 0;
}
.more{
    color: var(--i-hover);
}
.btn2:hover{
    width: 120px;
}
/* From here toggle codes taken from Jason Tyler project
Thanks to Jason Tyler
*/
.wrapper {
    position: absolute;
    left: 0;
    top: 5px;
    margin-left: -90px;
    transform: scale(.6);
    margin-bottom: 10px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 100px;
  margin-left: 100px;
  padding: 4px;
  border-radius: 40px;
}
.toggle:before, .toggle:after {
  content: '';
  display: table;
}
.toggle:after {
  clear: both;
}
.toggle-bg {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background-color: #c0e6f6;
  border-radius: 40px;
  border: 4px solid #81c0d5;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
}
.toggle-switch {
  top: 2px;
  left: 4px;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  background-color: #f5eb42;
  border: 4px solid #e4c74d;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
     transform: translate(-4px,-4px);
}
.toggle-switch-figure {
  position: absolute;
  bottom: -14px;
  left: -50px;
  display: block;
  width: 80px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(0.4);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-switch-figure:after {
  content: '';
  display: block;
  position: relative;
  top: -65px;
  right: -42px;
  width: 15px;
  height: 15px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(70deg);
  background-color: #fff;
}
.toggle-switch-figure:before {
  content: '';
  display: block;
  position: relative;
  top: -25px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(30deg);
  background-color: #fff;
}
.toggle-switch-figureAlt {
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
  box-shadow: 42px -7px 0 -3px #fcfcfc, 75px -10px 0 -3px #fcfcfc, 54px 4px 0 -4px #fcfcfc, 83px 7px 0 -2px #fcfcfc, 63px 18px 0 -4px #fcfcfc, 44px 28px 0 -2px #fcfcfc, 78px 23px 0 -3px #fcfcfc;
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
}
.toggle-switch-figureAlt:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 18px;
  width: 7px;
  height: 7px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}
.toggle-switch-figureAlt:after {
  content: '';
  position: absolute;
  top: 19px;
  left: 15px;
  width: 2px;
  height: 2px;
  background-color: #efeeda;
  border-radius: 100%;
  border: 4px solid #dee1c5;
}
.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #dee1c5;
  background-color: #fffdf2;
}
.toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}
.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}
.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}


@media only screen and (max-width: 600px){
    .container,.top{
        width: 320px;
    }
    .menu{
        height: 40px;
    }
    .btns{
        width: 100%;
    }
    .btn1 {
        width: 120px;
    }
    .btn2 {
        width: 120px;
    }
	}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
nav img{
    width: 60px;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.call_btn{
    color: white;
    background-color: red;
    padding: 5px 5px 5px 5px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}
.call_btn:hover{
    background-color: green;
}
.nav-links ul li a::after{
content: '';
width: 0%;
height: 2px;
background-color: aliceblue;
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:white ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.text-box button{
    color: white; 
    background-color: red;
    padding: 5px 15px 5px 15px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}
.text-box button:hover{
    background-color: green;
}
nav .fa{
    display: none;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.roww{
    margin-top: 5%;
    /* display: flex; */
    justify-content: space-between;

}

/* services */

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}
.services-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom:5%;
    text-align: left;
}
.services-col img{
    width: 100%;
     border-radius: 10px;
}
.badge-col img{
 width : 40%;
 border-radius : 10px;
 }
.services-col p{
    padding: 0;
}
.services-col h3{
    margin-top:16px;
    margin-bottom: 15px;
    text-align: left;
}


/* media query */
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-color: rgb(46, 76, 104);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding-top: 20px;
    }
    .row{
        flex-direction: column;
    }
    .action{
        display: block;
    }
    .fab{
        display: block;
    }
    #captchaTxtArea{
        width: 30%;
        text-align: center;
        border-style: none;
        border-radius: 5px;
    }
    #CaptchaEnter{
        width: 60%;
        text-align: center;
    }
}

#captchaTxtArea{
     width: 30%; 
    text-align: center;
}

/* call to action */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(ac.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
.cta button{
    color: white;
    background-color: red;
    padding: 5px 15px 5px 15px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}
.cta button:hover{
    background-color: green;
}


/* Testimonial */

.testimonial{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.test-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;    
}
.test-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/* about us */

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.about-col{
    flex-basis: 48%;
    border-radius: 10px;
    margin-bottom:5%;
    text-align: left;
}
@media(min-width:700px){
    .roww{
        display:flex;
    }
}


/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
	max-width: 1170px;
	margin:auto;
}
.rowf{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links img{
	display: inline-block;
	height: 80px;
	width: 80px;
	/* background-color: rgba(255,255,255,0.2); */
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* drop down */

.dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    position: relative;
  }
  .dropbtn:hover .dropdown-content {
      display: block;
  }
  
  
  
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-left: 0%;
    }
    
    .dropdown-content a {
      float: none;
      color: rgb(184, 38, 38);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
#drop{
    display: block;
}

#drop{
    float: right;
    margin-left:10px;
    margin-top: 3px;
}
.dropbtn::after{
    content: '';
    width:0%;
    height: 3px;
    background: whitesmoke;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.dropbtn:hover::after{
    width:100%;
}

/* up icon*/

.fabs {
    position: fixed;
    left: 20px;
    bottom: 20px;
  }
  
  .action {
    background: rgb(255, 0, 128);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 7px 0px gray;
    transition: background-color 0.4s ease-in-out;
  }
  
  .action i {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
  }
  
  .fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 30;
  }
  
  .actionn {
    background: green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 7px 0px gray;
    transition: background-color 0.4s ease-in-out;
    display: block;
  }
  
  .actionn i {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
  }
  .actionn:hover {
    background-color: rgb(227, 26, 26);
  }
  #call_icon{
      display: block;
  }
  

  /* popup */
  
  .popup{
    width: 90%;
    height: 90%;
    background-color: #f3e9ec;
    position: fixed;
    overflow-y: scroll;
    left: 5%;
    top:5%;
    z-index: 10;
    text-align: center;
    border-radius: 10px;

}
.popup h3{
  color: rgb(232, 193, 193);
 
  border-radius: 10px 10px 0px 0px;

  
}
#cut{
    color: rgb(186, 186, 186);
    margin-top: 10px;
}

.popup form{
    width: 80%;
    height: 70%;
    position: absolute;
    left:10% ;
    padding-top: 30px;
}
.topp{
    background-color: #e91e63;
    width: 100%;
    text-align: center;
    display:grid;
    grid-template-columns: 80% 20%;
    border-radius: 10px 10px 0px 0px;
    

    
}
.mb-1{
    margin-top: 20px;
}
form textarea{
    margin-top: 20px;
}

/* captcha */
.call-btn{
    color: white;
    background-color: red;
    padding: 5px 15px 5px 15px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.call-btn:hover{
 background-color: green;
}
